In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import csv
import math
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [3]:
data_district = pd.read_csv("/content/drive/MyDrive/telangana/dim_districts.csv")
data_transport = pd.read_csv("/content/drive/MyDrive/telangana/fact_transport.csv")

In [4]:
data_district

   dist_code                 district
0       19_1                 Adilabad
1       22_2     Bhadradri Kothagudem
2       21_1              Hanumakonda
3       16_1                Hyderabad
4       20_2                  Jagtial
5       21_3                  Jangoan
6       21_7  Jayashankar Bhupalpally
7       14_2         Jogulamba Gadwal
8       18_2                Kamareddy
9       20_1               Karimnagar
10      22_1                  Khammam
11      19_4    Kumurambheem Asifabad
12      21_5              Mahabubabad
13      14_1             Mahabubnagar
14      19_3               Mancherial
15      17_1                    Medak
16      15_2       Medchal_Malkajgiri
17      21_6                   Mulugu
18      14_3             Nagarkurnool
19      23_1                 Nalgonda
20      14_5               Narayanpet
21      19_2                   Nirmal
22      18_1                Nizamabad
23      20_4               Peddapalli
24      20_3         Rajanna Sircilla
25      15_1               Rangareddy
26      17_2               Sangareddy
27      17_3                 Siddipet
28      23_2                 Suryapet
29      15_3                Vikarabad
30      14_4               Wanaparthy
31      21_2                 Warangal
32      23_3      Yadadri Bhuvanagiri

In [5]:
data_transport

,dist_code,month,fuel_type_petrol,fuel_type_diesel,fuel_type_electric,fuel_type_others,vehicleClass_MotorCycle,vehicleClass_MotorCar,vehicleClass_AutoRickshaw,vehicleClass_Agriculture,vehicleClass_others,seatCapacity_1_to_3,seatCapacity_4_to_6,seatCapacity_above_6,Brand_new_vehicles,Pre-owned_vehicles,category_Non-Transport,category_Transport
0,15_1,2019-04-01,17910,3011,76,22,15308,4429,0,4,1278,16110,4182,717,19542,1477,19856,1163
1,18_2,2019-04-01,3066,306,6,0,2995,142,49,64,128,3156,189,33,3322,56,3203,175
2,20_3,2019-04-01,1577,215,0,0,1546,79,29,21,117,1683,104,5,1751,41,1648,144
3,21_3,2019-04-01,1961,281,2,0,1939,72,72,48,113,2082,146,16,2209,35,2075,169
4,21_7,2019-04-01,1552,309,0,0,1512,76,69,109,95,1696,145,20,1820,41,1701,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,16_1,2023-03-01,24112,2169,2606,1848,21501,5792,1684,0,1758,22493,7139,1093,26285,4450,27421,3314
1436,14_4,2023-03-01,996,286,20,67,884,137,75,106,167,1123,219,27,1300,69,1129,240
1437,20_3,2023-03-01,886,183,71,12,828,146,17,54,107,966,167,19,1060,92,1030,122
1438,23_3,2023-03-01,1659,472,39,97,1413,289,95,182,288,1829,391,47,2107,160,1889,378
1439,18_2,2023-03-01,1767,239,32,28,1532,251,65,58,160,1680,344,42,1954,112,1845,221

In [6]:
data_transport['district'] = data_transport['dist_code'].map(data_district.set_index('dist_code')['district'])

In [7]:
data_transport

,dist_code,month,fuel_type_petrol,fuel_type_diesel,fuel_type_electric,fuel_type_others,vehicleClass_MotorCycle,vehicleClass_MotorCar,vehicleClass_AutoRickshaw,vehicleClass_Agriculture,vehicleClass_others,seatCapacity_1_to_3,seatCapacity_4_to_6,seatCapacity_above_6,Brand_new_vehicles,Pre-owned_vehicles,category_Non-Transport,category_Transport,district
0,15_1,2019-04-01,17910,3011,76,22,15308,4429,0,4,1278,16110,4182,717,19542,1477,19856,1163,Rangareddy
1,18_2,2019-04-01,3066,306,6,0,2995,142,49,64,128,3156,189,33,3322,56,3203,175,Kamareddy
2,20_3,2019-04-01,1577,215,0,0,1546,79,29,21,117,1683,104,5,1751,41,1648,144,Rajanna Sircilla
3,21_3,2019-04-01,1961,281,2,0,1939,72,72,48,113,2082,146,16,2209,35,2075,169,Jangoan
4,21_7,2019-04-01,1552,309,0,0,1512,76,69,109,95,1696,145,20,1820,41,1701,160,Jayashankar Bhupalpally
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,16_1,2023-03-01,24112,2169,2606,1848,21501,5792,1684,0,1758,22493,7139,1093,26285,4450,27421,3314,Hyderabad
1436,14_4,2023-03-01,996,286,20,67,884,137,75,106,167,1123,219,27,1300,69,1129,240,Wanaparthy
1437,20_3,2023-03-01,886,183,71,12,828,146,17,54,107,966,167,19,1060,92,1030,122,Rajanna Sircilla
1438,23_3,2023-03-01,1659,472,39,97,1413,289,95,182,288,1829,391,47,2107,160,1889,378,Yadadri Bhuvanagiri
1439,18_2,2023-03-01,1767,239,32,28,1532,251,65,58,160,1680,344,42,1954,112,1845,221,Kamareddy

In [8]:
column_to_move = 'district'
new_order = [column_to_move] + [col for col in data_transport.columns if col != column_to_move]
data_transport = data_transport[new_order]
data_transport

,district,dist_code,month,fuel_type_petrol,fuel_type_diesel,fuel_type_electric,fuel_type_others,vehicleClass_MotorCycle,vehicleClass_MotorCar,vehicleClass_AutoRickshaw,vehicleClass_Agriculture,vehicleClass_others,seatCapacity_1_to_3,seatCapacity_4_to_6,seatCapacity_above_6,Brand_new_vehicles,Pre-owned_vehicles,category_Non-Transport,category_Transport
0,Rangareddy,15_1,2019-04-01,17910,3011,76,22,15308,4429,0,4,1278,16110,4182,717,19542,1477,19856,1163
1,Kamareddy,18_2,2019-04-01,3066,306,6,0,2995,142,49,64,128,3156,189,33,3322,56,3203,175
2,Rajanna Sircilla,20_3,2019-04-01,1577,215,0,0,1546,79,29,21,117,1683,104,5,1751,41,1648,144
3,Jangoan,21_3,2019-04-01,1961,281,2,0,1939,72,72,48,113,2082,146,16,2209,35,2075,169
4,Jayashankar Bhupalpally,21_7,2019-04-01,1552,309,0,0,1512,76,69,109,95,1696,145,20,1820,41,1701,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,Hyderabad,16_1,2023-03-01,24112,2169,2606,1848,21501,5792,1684,0,1758,22493,7139,1093,26285,4450,27421,3314
1436,Wanaparthy,14_4,2023-03-01,996,286,20,67,884,137,75,106,167,1123,219,27,1300,69,1129,240
1437,Rajanna Sircilla,20_3,2023-03-01,886,183,71,12,828,146,17,54,107,966,167,19,1060,92,1030,122
1438,Yadadri Bhuvanagiri,23_3,2023-03-01,1659,472,39,97,1413,289,95,182,288,1829,391,47,2107,160,1889,378
1439,Kamareddy,18_2,2023-03-01,1767,239,32,28,1532,251,65,58,160,1680,344,42,1954,112,1845,221

In [9]:
del data_transport['dist_code']

In [10]:
data_transport

,district,month,fuel_type_petrol,fuel_type_diesel,fuel_type_electric,fuel_type_others,vehicleClass_MotorCycle,vehicleClass_MotorCar,vehicleClass_AutoRickshaw,vehicleClass_Agriculture,vehicleClass_others,seatCapacity_1_to_3,seatCapacity_4_to_6,seatCapacity_above_6,Brand_new_vehicles,Pre-owned_vehicles,category_Non-Transport,category_Transport
0,Rangareddy,2019-04-01,17910,3011,76,22,15308,4429,0,4,1278,16110,4182,717,19542,1477,19856,1163
1,Kamareddy,2019-04-01,3066,306,6,0,2995,142,49,64,128,3156,189,33,3322,56,3203,175
2,Rajanna Sircilla,2019-04-01,1577,215,0,0,1546,79,29,21,117,1683,104,5,1751,41,1648,144
3,Jangoan,2019-04-01,1961,281,2,0,1939,72,72,48,113,2082,146,16,2209,35,2075,169
4,Jayashankar Bhupalpally,2019-04-01,1552,309,0,0,1512,76,69,109,95,1696,145,20,1820,41,1701,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,Hyderabad,2023-03-01,24112,2169,2606,1848,21501,5792,1684,0,1758,22493,7139,1093,26285,4450,27421,3314
1436,Wanaparthy,2023-03-01,996,286,20,67,884,137,75,106,167,1123,219,27,1300,69,1129,240
1437,Rajanna Sircilla,2023-03-01,886,183,71,12,828,146,17,54,107,966,167,19,1060,92,1030,122
1438,Yadadri Bhuvanagiri,2023-03-01,1659,472,39,97,1413,289,95,182,288,1829,391,47,2107,160,1889,378
1439,Kamareddy,2023-03-01,1767,239,32,28,1532,251,65,58,160,1680,344,42,1954,112,1845,221

In [11]:
data_transport_2 = data_transport.copy(deep=True)

In [12]:
data_transport_2

,district,month,fuel_type_petrol,fuel_type_diesel,fuel_type_electric,fuel_type_others,vehicleClass_MotorCycle,vehicleClass_MotorCar,vehicleClass_AutoRickshaw,vehicleClass_Agriculture,vehicleClass_others,seatCapacity_1_to_3,seatCapacity_4_to_6,seatCapacity_above_6,Brand_new_vehicles,Pre-owned_vehicles,category_Non-Transport,category_Transport
0,Rangareddy,2019-04-01,17910,3011,76,22,15308,4429,0,4,1278,16110,4182,717,19542,1477,19856,1163
1,Kamareddy,2019-04-01,3066,306,6,0,2995,142,49,64,128,3156,189,33,3322,56,3203,175
2,Rajanna Sircilla,2019-04-01,1577,215,0,0,1546,79,29,21,117,1683,104,5,1751,41,1648,144
3,Jangoan,2019-04-01,1961,281,2,0,1939,72,72,48,113,2082,146,16,2209,35,2075,169
4,Jayashankar Bhupalpally,2019-04-01,1552,309,0,0,1512,76,69,109,95,1696,145,20,1820,41,1701,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,Hyderabad,2023-03-01,24112,2169,2606,1848,21501,5792,1684,0,1758,22493,7139,1093,26285,4450,27421,3314
1436,Wanaparthy,2023-03-01,996,286,20,67,884,137,75,106,167,1123,219,27,1300,69,1129,240
1437,Rajanna Sircilla,2023-03-01,886,183,71,12,828,146,17,54,107,966,167,19,1060,92,1030,122
1438,Yadadri Bhuvanagiri,2023-03-01,1659,472,39,97,1413,289,95,182,288,1829,391,47,2107,160,1889,378
1439,Kamareddy,2023-03-01,1767,239,32,28,1532,251,65,58,160,1680,344,42,1954,112,1845,221

In [13]:
selected_columns = ['district','month','fuel_type_petrol','fuel_type_diesel','fuel_type_electric']
data_transport_2 = data_transport_2[selected_columns]

In [14]:
data_transport_2

,district,month,fuel_type_petrol,fuel_type_diesel,fuel_type_electric
0,Rangareddy,2019-04-01,17910,3011,76
1,Kamareddy,2019-04-01,3066,306,6
2,Rajanna Sircilla,2019-04-01,1577,215,0
3,Jangoan,2019-04-01,1961,281,2
4,Jayashankar Bhupalpally,2019-04-01,1552,309,0
...,...,...,...,...,...
1435,Hyderabad,2023-03-01,24112,2169,2606
1436,Wanaparthy,2023-03-01,996,286,20
1437,Rajanna Sircilla,2023-03-01,886,183,71
1438,Yadadri Bhuvanagiri,2023-03-01,1659,472,39
1439,Kamareddy,2023-03-01,1767,239,32

In [15]:
# Create a new DataFrame with the 'month' column converted to datetime
new_data_transport_2 = data_transport_2.copy()
new_data_transport_2['month'] = pd.to_datetime(data_transport_2['month'], format='%Y-%m-%d')

# Filter data for the two financial years
fy_2021 = new_data_transport_2[(new_data_transport_2['month'] >= '2021-04-01') & (new_data_transport_2['month'] <= '2022-03-31')]
fy_2022 = new_data_transport_2[(new_data_transport_2['month'] >= '2022-04-01') & (new_data_transport_2['month'] <= '2023-03-31')]

# Group by 'district' and sum the fuel types for each financial year
fy_2021_grouped = fy_2021.groupby('district').agg({
    'fuel_type_petrol': 'sum',
    'fuel_type_diesel': 'sum',
    'fuel_type_electric': 'sum'
}).reset_index()

fy_2022_grouped = fy_2022.groupby('district').agg({
    'fuel_type_petrol': 'sum',
    'fuel_type_diesel': 'sum',
    'fuel_type_electric': 'sum'
}).reset_index()

# Rename columns for each financial year
fy_2021_grouped.rename(columns={
    'fuel_type_petrol': 'petrol_21',
    'fuel_type_diesel': 'diesel_21',
    'fuel_type_electric': 'electric_21'
}, inplace=True)

fy_2022_grouped.rename(columns={
    'fuel_type_petrol': 'petrol_22',
    'fuel_type_diesel': 'diesel_22',
    'fuel_type_electric': 'electric_22'
}, inplace=True)

# Merge the two financial year DataFrames back together
final_df = fy_2021_grouped.merge(fy_2022_grouped, on='district', how='outer')

In [16]:
# Calculate percentage change for each column
final_df['petrol_percentage_change'] = ((final_df['petrol_22'] - final_df['petrol_21']) / final_df['petrol_21']) * 100
final_df['diesel_percentage_change'] = ((final_df['diesel_22'] - final_df['diesel_21']) / final_df['diesel_21']) * 100
final_df['electric_percentage_change'] = ((final_df['electric_22'] - final_df['electric_21']) / final_df['electric_21']) * 100

In [17]:
final_df

,district,petrol_21,diesel_21,electric_21,petrol_22,diesel_22,electric_22,petrol_percentage_change,diesel_percentage_change,electric_percentage_change
0,Adilabad,16592,2267,277,11212,2523,333,-32.425265,11.292457,20.216606
1,Bhadradri Kothagudem,27650,5739,76,19331,5712,290,-30.086799,-0.470465,281.578947
2,Hyderabad,228817,21195,8929,231166,20019,20026,1.026585,-5.548478,124.280435
3,Jagtial,24945,2872,409,14836,2261,642,-40.525155,-21.274373,56.968215
4,Jangoan,13843,3155,73,9520,2461,179,-31.228780,-21.996830,145.205479
5,Jayashankar Bhupalpally,15788,3904,111,10274,3169,227,-34.925260,-18.826844,104.504505
6,Jogulamba Gadwal,14239,2309,52,10911,2336,84,-23.372428,1.169337,61.538462
7,Kamareddy,26055,3001,183,17043,3225,273,-34.588371,7.464179,49.180328
8,Karimnagar,29074,5034,704,24574,10644,1132,-15.477746,111.442193,60.795455
9,Khammam,42127,8058,149,31233,8030,759,-25.859900,-0.347481,409.395973
10,Kumurambheem Asifabad,10112,1834,34,6779,1723,81,-32.960839,-6.052345,138.235294
11,Mahabubabad,18857,4187,36,12053,3170,101,-36.082092,-24.289467,180.555556
12,Mahabubnagar,31344,6029,324,20274,4790,387,-35.317764,-20.550672,19.444444
13,Mancherial,18852,3186,198,13295,2891,236,-29.476979,-9.259259,19.191919
14,Medak,18208,4378,185,13218,4077,319,-27.405536,-6.875286,72.432432
15,Medchal_Malkajgiri,201947,27153,7086,200121,27592,13716,-0.904198,1.616764,93.564776
16,Nagarkurnool,19215,5964,105,14210,5167,171,-26.047359,-13.363514,62.857143
17,Nalgonda,41243,9212,395,31574,7840,555,-23.443978,-14.893617,40.506329
18,Nirmal,19746,2613,355,11640,2576,672,-41.051352,-1.415997,89.295775
19,Nizamabad,47611,5718,1451,31314,5337,1800,-34.229485,-6.663169,24.052378
20,Peddapalli,17872,3185,219,12308,2507,404,-31.132498,-21.287284,84.474886
21,Rajanna Sircilla,14287,2219,362,8743,1954,416,-38.804508,-11.942316,14.917127
22,Rangareddy,184204,24711,5918,200289,27843,13606,8.732167,12.674517,129.908753
23,Sangareddy,53583,8193,1558,49507,9275,3039,-7.606890,13.206396,95.057766
24,Siddipet,27173,5439,445,19150,4968,773,-29.525632,-8.659680,73.707865
25,Suryapet,28315,8059,193,21145,7337,670,-25.322267,-8.958928,247.150259
26,Vikarabad,37097,6451,383,26821,6155,561,-27.700353,-4.588436,46.475196
27,Wanaparthy,13584,2686,146,9641,2745,154,-29.026796,2.196575,5.479452
28,Warangal,36035,5717,419,19704,2971,649,-45.319828,-48.032185,54.892601
29,Yadadri Bhuvanagiri,22308,4878,229,16971,4805,277,-23.924153,-1.496515,20.960699

In [18]:
# Select only the 'district' and percentage change columns
final_df = final_df[['district', 'petrol_percentage_change', 'diesel_percentage_change', 'electric_percentage_change']]

# Print the final DataFrame with the selected columns
final_df

,district,petrol_percentage_change,diesel_percentage_change,electric_percentage_change
0,Adilabad,-32.425265,11.292457,20.216606
1,Bhadradri Kothagudem,-30.086799,-0.470465,281.578947
2,Hyderabad,1.026585,-5.548478,124.280435
3,Jagtial,-40.525155,-21.274373,56.968215
4,Jangoan,-31.228780,-21.996830,145.205479
5,Jayashankar Bhupalpally,-34.925260,-18.826844,104.504505
6,Jogulamba Gadwal,-23.372428,1.169337,61.538462
7,Kamareddy,-34.588371,7.464179,49.180328
8,Karimnagar,-15.477746,111.442193,60.795455
9,Khammam,-25.859900,-0.347481,409.395973
10,Kumurambheem Asifabad,-32.960839,-6.052345,138.235294
11,Mahabubabad,-36.082092,-24.289467,180.555556
12,Mahabubnagar,-35.317764,-20.550672,19.444444
13,Mancherial,-29.476979,-9.259259,19.191919
14,Medak,-27.405536,-6.875286,72.432432
15,Medchal_Malkajgiri,-0.904198,1.616764,93.564776
16,Nagarkurnool,-26.047359,-13.363514,62.857143
17,Nalgonda,-23.443978,-14.893617,40.506329
18,Nirmal,-41.051352,-1.415997,89.295775
19,Nizamabad,-34.229485,-6.663169,24.052378
20,Peddapalli,-31.132498,-21.287284,84.474886
21,Rajanna Sircilla,-38.804508,-11.942316,14.917127
22,Rangareddy,8.732167,12.674517,129.908753
23,Sangareddy,-7.606890,13.206396,95.057766
24,Siddipet,-29.525632,-8.659680,73.707865
25,Suryapet,-25.322267,-8.958928,247.150259
26,Vikarabad,-27.700353,-4.588436,46.475196
27,Wanaparthy,-29.026796,2.196575,5.479452
28,Warangal,-45.319828,-48.032185,54.892601
29,Yadadri Bhuvanagiri,-23.924153,-1.496515,20.960699

In [19]:
# Find the top 3 and bottom 3 districts for each percentage change column
top_petrol = final_df.nlargest(3, 'petrol_percentage_change')
bottom_petrol = final_df.nsmallest(3, 'petrol_percentage_change')

top_diesel = final_df.nlargest(3, 'diesel_percentage_change')
bottom_diesel = final_df.nsmallest(3, 'diesel_percentage_change')

top_electric = final_df.nlargest(3, 'electric_percentage_change')
bottom_electric = final_df.nsmallest(3, 'electric_percentage_change')

# Print the top and bottom districts for each percentage change column
print("Top 3 districts for Petrol Percentage Change:")
print(top_petrol)
print("\nBottom 3 districts for Petrol Percentage Change:")
print(bottom_petrol)

print("\nTop 3 districts for Diesel Percentage Change:")
print(top_diesel)
print("\nBottom 3 districts for Diesel Percentage Change:")
print(bottom_diesel)

print("\nTop 3 districts for Electric Percentage Change:")
print(top_electric)
print("\nBottom 3 districts for Electric Percentage Change:")
print(bottom_electric)

Top 3 districts for Petrol Percentage Change:
              district  petrol_percentage_change  diesel_percentage_change  \
22          Rangareddy                  8.732167                 12.674517
2            Hyderabad                  1.026585                 -5.548478
15  Medchal_Malkajgiri                 -0.904198                  1.616764

    electric_percentage_change
22                  129.908753
2                   124.280435
15                   93.564776

Bottom 3 districts for Petrol Percentage Change:
    district  petrol_percentage_change  diesel_percentage_change  \
28  Warangal                -45.319828                -48.032185
18    Nirmal                -41.051352                 -1.415997
3    Jagtial                -40.525155                -21.274373

    electric_percentage_change
28                   54.892601
18                   89.295775
3                    56.968215

Top 3 districts for Diesel Percentage Change:
      district  petrol_percentage_change  diesel_percentage_change  \
8   Karimnagar                -15.477746                111.442193
23  Sangareddy                 -7.606890                 13.206396
22  Rangareddy                  8.732167                 12.674517

    electric_percentage_change
8                    60.795455
23                   95.057766
22                  129.908753

Bottom 3 districts for Diesel Percentage Change:
       district  petrol_percentage_change  diesel_percentage_change  \
28     Warangal                -45.319828                -48.032185
11  Mahabubabad                -36.082092                -24.289467
4       Jangoan                -31.228780                -21.996830

    electric_percentage_change
28                   54.892601
11                  180.555556
4                   145.205479

Top 3 districts for Electric Percentage Change:
                district  petrol_percentage_change  diesel_percentage_change  \
9                Khammam                -25.859900                 -0.347481
1   Bhadradri Kothagudem                -30.086799                 -0.470465
25              Suryapet                -25.322267                 -8.958928

    electric_percentage_change
9                   409.395973
1                   281.578947
25                  247.150259

Bottom 3 districts for Electric Percentage Change:
            district  petrol_percentage_change  diesel_percentage_change  \
27        Wanaparthy                -29.026796                  2.196575
21  Rajanna Sircilla                -38.804508                -11.942316
13        Mancherial                -29.476979                 -9.259259

    electric_percentage_change
27                    5.479452
21                   14.917127
13                   19.191919

In [20]:
fy_2022_grouped

                   district  petrol_22  diesel_22  electric_22
0                  Adilabad      11212       2523          333
1      Bhadradri Kothagudem      19331       5712          290
2                 Hyderabad     231166      20019        20026
3                   Jagtial      14836       2261          642
4                   Jangoan       9520       2461          179
5   Jayashankar Bhupalpally      10274       3169          227
6          Jogulamba Gadwal      10911       2336           84
7                 Kamareddy      17043       3225          273
8                Karimnagar      24574      10644         1132
9                   Khammam      31233       8030          759
10    Kumurambheem Asifabad       6779       1723           81
11              Mahabubabad      12053       3170          101
12             Mahabubnagar      20274       4790          387
13               Mancherial      13295       2891          236
14                    Medak      13218       4077          319
15       Medchal_Malkajgiri     200121      27592        13716
16             Nagarkurnool      14210       5167          171
17                 Nalgonda      31574       7840          555
18                   Nirmal      11640       2576          672
19                Nizamabad      31314       5337         1800
20               Peddapalli      12308       2507          404
21         Rajanna Sircilla       8743       1954          416
22               Rangareddy     200289      27843        13606
23               Sangareddy      49507       9275         3039
24                 Siddipet      19150       4968          773
25                 Suryapet      21145       7337          670
26                Vikarabad      26821       6155          561
27               Wanaparthy       9641       2745          154
28                 Warangal      19704       2971          649
29      Yadadri Bhuvanagiri      16971       4805          277

In [21]:
final_df.to_csv('/content/drive/MyDrive/q7.csv',index=False)

In [22]:
fy_2022

,district,month,fuel_type_petrol,fuel_type_diesel,fuel_type_electric
1080,Wanaparthy,2022-04-01,936,312,16
1081,Jayashankar Bhupalpally,2022-04-01,1291,211,34
1082,Mahabubnagar,2022-04-01,2185,433,55
1083,Siddipet,2022-04-01,2034,521,44
1084,Nagarkurnool,2022-04-01,1489,383,24
...,...,...,...,...,...
1435,Hyderabad,2023-03-01,24112,2169,2606
1436,Wanaparthy,2023-03-01,996,286,20
1437,Rajanna Sircilla,2023-03-01,886,183,71
1438,Yadadri Bhuvanagiri,2023-03-01,1659,472,39
1439,Kamareddy,2023-03-01,1767,239,32

In [23]:
fy_2022

,district,month,fuel_type_petrol,fuel_type_diesel,fuel_type_electric
1080,Wanaparthy,2022-04-01,936,312,16
1081,Jayashankar Bhupalpally,2022-04-01,1291,211,34
1082,Mahabubnagar,2022-04-01,2185,433,55
1083,Siddipet,2022-04-01,2034,521,44
1084,Nagarkurnool,2022-04-01,1489,383,24
...,...,...,...,...,...
1435,Hyderabad,2023-03-01,24112,2169,2606
1436,Wanaparthy,2023-03-01,996,286,20
1437,Rajanna Sircilla,2023-03-01,886,183,71
1438,Yadadri Bhuvanagiri,2023-03-01,1659,472,39
1439,Kamareddy,2023-03-01,1767,239,32

In [24]:
data_transport_3 = data_transport.copy(deep=True)
data_transport_3['month'] = pd.to_datetime(data_transport_3['month'], format='%Y-%m-%d')

In [25]:
data_transport_3

,district,month,fuel_type_petrol,fuel_type_diesel,fuel_type_electric,fuel_type_others,vehicleClass_MotorCycle,vehicleClass_MotorCar,vehicleClass_AutoRickshaw,vehicleClass_Agriculture,vehicleClass_others,seatCapacity_1_to_3,seatCapacity_4_to_6,seatCapacity_above_6,Brand_new_vehicles,Pre-owned_vehicles,category_Non-Transport,category_Transport
0,Rangareddy,2019-04-01,17910,3011,76,22,15308,4429,0,4,1278,16110,4182,717,19542,1477,19856,1163
1,Kamareddy,2019-04-01,3066,306,6,0,2995,142,49,64,128,3156,189,33,3322,56,3203,175
2,Rajanna Sircilla,2019-04-01,1577,215,0,0,1546,79,29,21,117,1683,104,5,1751,41,1648,144
3,Jangoan,2019-04-01,1961,281,2,0,1939,72,72,48,113,2082,146,16,2209,35,2075,169
4,Jayashankar Bhupalpally,2019-04-01,1552,309,0,0,1512,76,69,109,95,1696,145,20,1820,41,1701,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,Hyderabad,2023-03-01,24112,2169,2606,1848,21501,5792,1684,0,1758,22493,7139,1093,26285,4450,27421,3314
1436,Wanaparthy,2023-03-01,996,286,20,67,884,137,75,106,167,1123,219,27,1300,69,1129,240
1437,Rajanna Sircilla,2023-03-01,886,183,71,12,828,146,17,54,107,966,167,19,1060,92,1030,122
1438,Yadadri Bhuvanagiri,2023-03-01,1659,472,39,97,1413,289,95,182,288,1829,391,47,2107,160,1889,378
1439,Kamareddy,2023-03-01,1767,239,32,28,1532,251,65,58,160,1680,344,42,1954,112,1845,221

In [26]:
q6_ans = data_transport_3[(data_transport_3['month'] >= '2022-04-01') & (data_transport_3['month'] <= '2023-03-31')]
q6 = q6_ans.groupby('district').agg({
    'vehicleClass_MotorCycle': 'sum',
    'vehicleClass_MotorCar': 'sum',
    'vehicleClass_AutoRickshaw': 'sum',
    'vehicleClass_Agriculture': 'sum'
}).reset_index()

In [27]:
q6

,district,vehicleClass_MotorCycle,vehicleClass_MotorCar,vehicleClass_AutoRickshaw,vehicleClass_Agriculture
0,Adilabad,10410,1416,368,467
1,Bhadradri Kothagudem,17022,3157,1388,2013
2,Hyderabad,206819,51447,8397,20
3,Jagtial,13639,2055,272,858
4,Jangoan,8617,1177,397,1225
5,Jayashankar Bhupalpally,9225,1343,218,1928
6,Jogulamba Gadwal,10300,899,116,868
7,Kamareddy,15184,2153,379,748
8,Karimnagar,19411,4818,1042,999
9,Khammam,27385,5880,2690,2121
10,Kumurambheem Asifabad,6433,479,286,160
11,Mahabubabad,11046,1155,680,906
12,Mahabubnagar,17977,3300,1130,937
13,Mancherial,11603,2218,550,400
14,Medak,11663,2347,610,1579
15,Medchal_Malkajgiri,164626,61071,83,261
16,Nagarkurnool,12229,2066,366,1556
17,Nalgonda,27942,4927,964,2599
18,Nirmal,10984,1581,295,989
19,Nizamabad,28105,5824,1011,1181
20,Peddapalli,10818,2205,382,705
21,Rajanna Sircilla,8007,1376,148,675
22,Rangareddy,154186,71832,69,449
23,Sangareddy,40784,14565,3381,1570
24,Siddipet,17401,3254,524,2437
25,Suryapet,19165,3038,739,2188
26,Vikarabad,23116,5211,2046,1814
27,Wanaparthy,8771,1194,372,985
28,Warangal,17770,2937,1331,681
29,Yadadri Bhuvanagiri,14471,3216,465,1853

In [28]:
q6.to_csv('/content/drive/MyDrive/q6.csv',index=False)